body {
  background: #e8ecff;
}

h1 {
  font-family: cursive;
  font-size: 90px;
  font-weight: bold;
  color: #a354ba;
  text-align: center;
}

h2 {
  font-family: cursive;
  font-size: 40px;
  text-align: center;
}

h6 {
  font-family: cursive;
  font-size: 25px;
  margin-left: 100px; 
  margin-right: 100px;
}

p {
  font-family: cursive;
  font-size: 30px;
  text-align: center;
  
}

ul {
  font-family: cursive;
  font-size: 30px;
  margin-left: 100px; 
  margin-right: 100px;
}


.container-c {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 20px;
  margin-left: 100px;
  margin-right: 100px;
  margin: 20px;
  border: 5px solid black; 
  border-radius: 5px; 
}

.container-c img {
  width: 200px;
  
}

img {
 width: 500px; 
} 

.video-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
