body {
  background: #e8ecff;
}

h1 {
  font-family: cursive;
  font-size: 90px;
  font-weight: bold;
  color: #a354ba;
  text-align: center;
}

h2 {
  font-family: cursive;
  font-size: 40px;
  text-align: center;
}

h6 {
  font-family: cursive;
  font-size: 25px;
  margin-left: 100px; 
  margin-right: 100px;
}

p {
  font-family: cursive;
  font-size: 30px;
  text-align: center;
  margin-left: 100px; 
  margin-right: 100px;
}

ul {
  font-family: cursive;
  font-size: 30px;
  margin-left: 100px; 
  margin-right: 100px;
}

img {
 width: 100px; 
} 

.video-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
