body {
  background: #e8ecff;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: #a354ba;
  text-align: center;
}

p {
  font-size: 30px;
}

img {
 width: 100px; 
} 

.video-container {
  display: flex;
  justify-content: center;
  align-content: center;
}
